{% extends 'activitylist/base.html' %}
{% block basecontent %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Organizer</th>
            <th>Date</th>
        </tr>
    </thead>
    {% for object in enrolls %}
    <tr>
        <td>{{ object.name }}</td>
        <td>{{ object.organizer }}</td>
        <td>{{ object.date_hosted|date:'N d, Y' }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock basecontent%}