{% extends 'activitylist/base.html' %}
{% block basecontent %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>Hour</th>
            <th>Score</th>
        </tr>
    </thead>
    <tr>
        <td>{{ user.student.grades }} Hours</td>
        <td>{{ user.student.grades }} / 100</td>
    </tr>
    
</table>
{% endblock basecontent%}