{% extends 'activitylist/base.html' %}
{% block basecontent %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Organizer</th>
            <th>Date</th>
            <th>Max Student</th>
        </tr>
    </thead>
    {% for activity in activities %}
    <tr>
        <td><a class="btn btn-outline-info btn-sm" href="{% url 'activity-detail' activity.id %}" role="button">{{  activity.name }}</a></td>
        <td>{{  activity.organizer }}</td>
        <td>{{  activity.date_hosted|date:'N d, Y' }}</td>
        <td>{{  activity.maximumStu }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock basecontent%}