{% extends 'activitylist/base.html' %}
{% block basecontent %}
    <h1>Activity Information - {{  activity.actName }}</h1>
    <p> This activity is hosted by {{  activity.organizer }} for the year {{  activity.date_hosted }}</p>
{% endblock basecontent%}