{% extends 'activitylist/base.html' %}
{% block basecontent %}
    <h2>{{  object.name }}</h2>
    <p>Date: {{  object.date_hosted|date:'N d, Y' }}</p>
    <p>This activity is organized by {{  object.organizer }}</p>
    <p>{{  object.description }}</p>
{% endblock basecontent%}