{% extends 'activitylist/base.html' %}
{% block basecontent %}
<h2>You are logged out</h2>
<div class="border-top pt-3">
    <small class="text-muted">
        <a href="{% url 'login' %}">
            Login again
        </a>
    </small>
</div>
{% endblock basecontent%}}