{% extends 'activitylist/base.html' %}
{% block basecontent %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Register Now</legend>
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an account? 
                    <a class="ml-2" href="{% url 'login' %}">
                        Sign In
                    </a>
            </small>
        </div>
    </div>
{% endblock basecontent%}}